@font-face {
    font-family: 'Aversa';
    src: url('../../assets/fonts/AversaVectorRegular.woff2') format('woff2'),
        url('../../assets/fonts/AversaVectorRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.search-trends-title {
    display: flex;
    justify-content: center;
    font-family: Aversa;
    flex-direction: column;
    justify-content: center;
    font-size: 8rem;
    align-items: center;
}

.search-trends-title__text {
    display: flex;
    line-height: 125px;
    cursor: default;
}
.search-trends-title__text {
    display: flex;
    line-height: 125px;
    cursor: default;
}

.search-trends-title__text, span {
    vertical-align: middle;
}

@media (max-width: 600px) {  
    .search-trends-title {font-size: 4rem;} 
    .search-trends-title__text {
        line-height: 80px;
    }
    
  }
   
@media (min-width: 768px) {  
    .search-trends-title {font-size:5rem;} 
}

@media (min-width: 1200px) {  
    .search-trends-title {font-size:8rem;} 
}
