* {
    box-sizing: border-box;
}

#app {
	height: 100%;
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

thead {
    flex: 0 0 auto;
}

tbody {
    flex: 1 1 auto;
	display: block;
	height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.container, body {
    min-width: 0 !important;
}

.center {
	text-align: center;
}

footer {
    margin-top: 50px;
}
