@font-face {
    font-family: 'Aversa';
    src: url('../assets/fonts/AversaVectorRegular.woff2') format('woff2'),
        url('../assets/fonts/AversaVectorRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

#app {
	height: 100vh;
}


div.ag-root {
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

.platforms {
    margin: 170px 0 50px 0;
    flex-direction: column !important;
}

.platforms a {
    margin: 20px 0;
}

.btn.beatstars-btn{
    font-size: 56px;
    color: #ff9a8c;
    border-radius: 5px;
    border-color: #ff9a8c;
    border-width: 3px;
}

.btn.airbit-btn {
    color: #b37dff;
    border-radius: 5px;
    border-color: #b37dff;
    border-width: 3px;
}

.active-route {
    color: black;
}