.grid-column-title {
    cursor: default;
}

.grid-column-title-custom {
    cursor: pointer;
}

.grid-column-title-custom div {
    display: flex;
}

.center-by-horizontal  {
    align-items: center;
}

.grid-column-text-center {
    text-align: center;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #dee2e6;
}

.up-and-down-icon {
    height: 15px;
    width: 15px;
    margin: 0 15px;
}

.table thead th {
    vertical-align: middle;
}